/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0a23; /* Fondo negro azulado más oscuro */
    color: #333;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.hero {
    background-color: #232f3e; /* Fondo azul oscuro */
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 1200px; /* Ajusta el tamaño máximo del cuadro */
}

.logo img {
    max-width: 150px;
    border-radius: 50%; /* Hacer el logo circular */
    border: 5px solid #f3f4f6; /* Borde blanco */
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
    color: #ff9900; /* Color amarillo */
}

.hero p {
    font-size: 1.2em;
    margin: 10px 0 0;
    color: #ffffff;
}

.affiliate-text {
    color: #d1d5db; /* Color gris claro */
}

.container {
    padding: 20px;
    text-align: center;
}

.intro-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #ffffff; /* Color blanco */
}

.search-bar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.search-bar input {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ff9900;
    width: 250px;
    font-size: 1em;
}

.search-bar button {
    padding: 10px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #ff9900;
    background-color: #ff9900;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
}

.product-list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas en computadoras */
    gap: 10px; /* Espacio reducido entre productos */
    padding: 0 10px; /* Ajustar el padding para los productos */
}

.product {
    border: 5px solid #0a0a23; /* Cambiar el color del borde al color del fondo */
    border-radius: 8px;
    padding: 10px 20px; /* Aumentar el padding solo a los lados */
    background-color: #ffffff; /* Color de fondo blanco */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    margin: 0; /* Eliminar margen */
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.product img {
    width: 100%;
    height: 200px; /* Altura fija */
    object-fit: contain; /* Ajusta la imagen sin recortar */
    border-radius: 8px;
    background-color: #f3f4f6; /* Fondo gris claro */
}

.product a {
    color: #232f3e; /* Cambiar color del texto a azul oscuro */
    text-decoration: none;
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.product a:hover {
    text-decoration: underline;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
    color: #ff9900;
    font-size: 1.5em;
}

.social-media a:hover {
    color: #d1d5db;
}

/* Media Queries */
@media (max-width: 1200px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas más pequeñas */
    }
}

@media (max-width: 900px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en dispositivos móviles */
    }
}

@media (max-width: 600px) {
    .product-list {
        grid-template-columns: repeat(1, 1fr); /* 1 columna en dispositivos móviles */
    }
}






