body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}
.container {
    padding: 20px;
}
.logo {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}
.logo img {
    max-width: 150px; /* Ajusta el tamaño del logo según tus necesidades */
}
.subtitle {
    font-size: 1.2em;
    color: #bbbbbb;
}
.description {
    margin: 20px 0;
    font-size: 1em;
}
.search-bar {
    margin-top: 20px;
}
.search-bar input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 200px;
}
.search-bar button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #0073e6;
    color: #ffffff;
    cursor: pointer;
}
.product-list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product {
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: left;
    background-color: #1e1e1e;
}
.product img {
    width: 100%;
    border-radius: 8px;
}
.product a {
    color: #0073e6;
    text-decoration: none;
}
.product a:hover {
    text-decoration: underline;
}
.social-media {
    margin-top: 20px;
}
.social-media a {
    margin: 0 10px;
    color: #0073e6;
    text-decoration: none;
}
.social-media a:hover {
    text-decoration: underline;
}

