/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Fondo negro */
    color: #ffffff;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.hero {
    background-color: #333333; /* Fondo gris para el cuadro */
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 1000px; /* Ajusta el tamaño máximo del cuadro */
}

.logo img {
    max-width: 150px;
    border-radius: 50%; /* Hacer el logo circular */
    border: 5px solid #ffffff; /* Borde blanco */
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
    color: #ffffff;
}

.hero p {
    font-size: 1.2em;
    margin: 10px 0 0;
    color: #bbbbbb;
}

.affiliate-text {
    color: #888888; /* Color gris más claro */
}

.container {
    padding: 20px;
    text-align: center;
}

.search-bar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.search-bar input {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #0073e6;
    width: 250px;
    font-size: 1em;
}

.search-bar button {
    padding: 10px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #0073e6;
    background-color: #0073e6;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
}

.product-list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 20px; /* Espacio entre productos */
}

.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.product img {
    width: 100%;
    height: auto; /* Ajusta la altura proporcionalmente */
    border-radius: 8px;
}

.product a {
    color: #0073e6;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.product a:hover {
    text-decoration: underline;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
    color: #0073e6;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 1200px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas más pequeñas */
    }
}

@media (max-width: 900px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas más pequeñas */
    }
}

@media (max-width: 600px) {
    .product-list {
        grid-template-columns: repeat(1, 1fr); /* 1 columna en pantallas móviles */
    }
}

@media (max-width: 480px) {
    .product img {
        width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor en pantallas muy pequeñas */
        height: auto;
    }
}

